
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt10">
            <div class="col-md-10">
                
                <mat-card>
                    <h1>Adding donor</h1>

                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field style="width: 100%;"  >
                            <mat-label>Enter Donor Name</mat-label>
                            <input  [(ngModel)]="donor.name" name="name" matInput placeholder="Enter the name">
                          </mat-form-field>
                          <mat-form-field style="width: 100%;"  >
                            <mat-label>Enter Age</mat-label>
                            <input [(ngModel)]="donor.age" name="age" matInput placeholder="Enter the age">
                          </mat-form-field>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Sample taken date</mat-label>
                                    <input matInput [(ngModel)]="donor.sampletakendate" name="sampletakendate" [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                    <mat-label>Blood Group</mat-label>
                                    <mat-select [(ngModel)]="donor.category.cid" name="category">
                                      <mat-option *ngFor="let c of categories" [value]="c.cid">
                                        {{c.title}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                         
                          <div class="row">
                              <div class="col-md-6">
                                <label class="ex">Gender: 
                                </label>
                                
                                <mat-radio-group [(ngModel)]="donor.sex" name="sex" aria-label="Select an option">
                                 <mat-radio-button value="Male">Male</mat-radio-button>
                                 <mat-radio-button value="Female">Female</mat-radio-button>
                                 <mat-radio-button value="Others">Others</mat-radio-button>
                               </mat-radio-group>
                              </div>
                              <div class="col-md-6">
                                
                              </div>
                              
                          </div>
                         

                       
                    
                       
                        <div class="row">
                            <div class="col-md-8">
                        <mat-form-field style="width: 80%;"  >
                            <mat-label>Address</mat-label>
                            <input [(ngModel)]="donor.address" name="address" matInput placeholder="Ex. Pizza">
                          </mat-form-field>
                        
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="width: 80%;" >
                                <mat-label>Phone</mat-label>
                                <input [(ngModel)]="donor.phone" name="phone" matInput placeholder="Ex. Pizza" >
                              </mat-form-field>
                             
                        </div>
                       </div>

                       <div class="row">
                        <div class="col-md-6">
                    <mat-form-field style="width: 80%;"  >
                        <mat-label>City</mat-label>
                        <input [(ngModel)]="donor.city" name="city" matInput placeholder="Ex. Pizza">
                      </mat-form-field>
                    
                    </div>
                    <div class="col-md-6">
                        <mat-form-field style="width: 80%;" >
                            <mat-label>State</mat-label>
                            <input [(ngModel)]="donor.state" name="state" matInput placeholder="Ex. Pizza" >
                          </mat-form-field>
                         
                    </div>
                   </div>
                   <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Add Donor</button>
                    <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                </div>
                  </form>
                     
                   
                </mat-card>
                
            </div>
        </div>
    </div>
    
</div>

{{ donor | json }}





