
<div class="container text-center mt20">
    <button mat-flat-button [routerLink]="'/admin/adddonor/'+cid"  color="primary">Add Donor</button>
</div>
<div *ngFor="let c of getdata"> 
<mat-card  class="mt10 mr20 ml20" *ngIf="c.noofdaystoexpire>0" >
    
    <mat-card-header>
        <div *ngIf="c.sex=='Male'" mat-card-avatar class="avatar"></div>
        <div *ngIf="c.sex=='Female'" mat-card-avatar class="ava"></div>
        <mat-card-title>
            {{c.name}}

        </mat-card-title>
        <mat-card-subtitle>{{Ctitle}}</mat-card-subtitle>
      
    </mat-card-header>
    
    <mat-card-actions>
        <button mat-flat-button color="accent">View Details</button>
       
        <button [routerLink]="'/admin/update-donor/'+c.did" mat-flat-button color="primary"  class="ml20">Update</button>
        <button mat-flat-button color="warn" (click)="delete(c.did)" class="ml20">Delete</button>
        <button style="float: right;" mat-stroked-button color="primary" class="ml20">Expiresin: {{c.noofdaystoexpire}}days</button>
    </mat-card-actions>
    
    
    
        
    
</mat-card>
</div>




