.avatar{
    background-image: url("../../../../assets/blood-test.png");
    background-size: cover;
}

.loder{
    position:absolute;
    height:100%;
    width:100%;
    
    opacity: 0.8;
    z-index: 99;

}