<mat-toolbar color="accent">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>bloodtype</mat-icon>
    </a>
    <span>BloodBank Management</span>
    <span class="example-spacer"></span>
    <a 
    *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login 
    </a>

    <a
    *ngIf="!login.isLoggedIn()"    
    [routerLink]="'/signup'" style="margin-right: 20px; margin-left:20px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Register
    </a>

    
    <a mat-button [matMenuTriggerFor]="menu" style="text-transform: uppercase;"><mat-icon style="size: 15px;">account_circle</mat-icon> {{login.getuserrname()}}<mat-icon>arrow_drop_down</mat-icon></a>
    <mat-menu #menu="matMenu">
     
      <button *ngIf="login.isLoggedIn()" mat-menu-item (click)="logout()">
        Logout
      </button>
    </mat-menu>
    
    
    
    
  </mat-toolbar>