<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                    <img style="width: 110px; height: 110px;" src="https://www.pngitem.com/pimgs/m/171-1714909_logo-helping-hands-logo-blood-hd-png-download.png" alt="">
                </div>

                <h2 class="text-center">Register Here !!</h2>

                <!--{{user | json}}-->
                <form (ngSubmit)="formSubmit()">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input required [(ngModel)]="user.username" name="username" matInput placeholder="Username">
                        <mat-hint>Valid Username !!</mat-hint>
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter here">
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required [(ngModel)]="user.firstName" name="firstName" type="text" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required [(ngModel)]="user.lastName" name="lastName" type="text" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input required [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input required [(ngModel)]="user.phone" name="phone" type="number" matInput placeholder="Enter here">
                      </mat-form-field>

                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary">Register</button>
                          <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                      </div>
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
