.avatar{
    background-image: url("../../../../assets/blood-test.png");
    background-size: cover;
}
.example{
    background-image: url("../../../../assets/teamwork.png");
    background-size: cover;
}
.ex{
    background-image: url("../../../../assets/teamwork.png");
    background-size: cover;
}


