<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-top: 100px;">
                <mat-card>
                <div class="container text-center">
                    <img style="width: 110px; height: 110px;" src="https://www.pngitem.com/pimgs/m/171-1714909_logo-helping-hands-logo-blood-hd-png-download.png" alt="">
                </div>
                <h1 class="text-center">Login Here !!</h1>
               
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input [(ngModel)]="loginData.username" name="username" matInput placeholder="Username">
                        <mat-hint>Username must be unique</mat-hint>
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="loginData.password" name="password" type="password" matInput placeholder="Enter here">
                      </mat-form-field>
                      <div class="container text-center">
                          <button mat-raised-button color="primary" (click)="toogle()" type="submit"> <img *ngIf="k" style="width: 20px; height:20px;" src="../../../assets/VAyR.gif" alt=""> Login</button>
                          
                      </div>
                    

                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
